@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10%;
  height: 95vh;

  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: 50% 100%;

    @include tablet {
      margin: 20px 0;
      height: 60vh;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    display: flex;
    text-align: center;
    gap: 32px;

    @include tablet {
      flex-direction: row;
      text-align: left;
    }
  }

  &__title {
    flex: 0.5;
  }

  &__subheader {
    font-style: italic;
  }

  &__bio {
    flex: 1;
  }
  &__paragraph {
    margin: 16px 0;

    @include tablet {
      margin-top: 0;
    }
  }
}
