@use "../../styles/partials/variables" as *;

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: $light;

  &__content {
    margin: 40px 10%;
  }

  &__welcome {
    text-align: center;
    padding: 15px 10%;
  }
}

.welcome {
  &__header {
    margin: 20px 0;
  }
}

.projects {
  margin: 40px 10%;
  display: flex;
  justify-content: center;

  &__card {
    width: 40rem;
  }
  &__image {
    width: 100%;
  }
  &__title {
    margin: 16px 0;
  }
}
