@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10%;
  border-bottom: 1px solid $dark;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    margin: 10px;
  }

  &__directory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
    list-style-type: none;

    @include tablet {
      margin: 0;
    }
  }

  &__listitem {
    font-weight: 300;
  }
}
