@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.reading {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 15px 15%;
  }

  &__header {
    padding: 16px 0;
    border-bottom: 1px solid $dark;
  }

  &__books {
    display: flex;
    padding-top: 16px;
    transition: tranform 0.5s ease-in-out;

    @include desktop {
      flex-direction: row;
    }
  }

  &__button {
    background-color: $light-medium;
    color: $dark;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px 16px;

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }

    @include desktop {
      display: none;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;

  @include desktop {
    flex: 1 1 auto;
    min-width: 30%;
    margin-right: 15px;
    justify-content: center;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 500;
    margin-top: 10px;
  }

  &__author {
    font-style: italic;
  }

  &__imagecontainer {
    @include desktop {
      align-self: center;
      display: flex;
      width: 100%;
      object-fit: fill;
      overflow: hidden;
      max-height: 400px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 250px;

    @include desktop {
      object-fit: contain;
      max-height: none;
    }
  }
}
