@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-image: url(/public/images/Footer.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem 10%;
  width: 100%;

  @include tablet {
    height: 18rem;
  }

  @include desktop {
    height: 25rem;
  }

  &__contact {
    display: flex;

    gap: 1rem;
  }

  &__link {
    font-size: 22px;
    text-decoration: none;
    color: $dark;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $dark;

    @include tablet {
      width: 48px;
      height: 48px;
    }
  }
}
